#root {
  width: 1280px;
  height: 100vh;
}

.whole-page {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  height: 100%;
}

.previousGallery {
  width: 25%;
  height: 80%;
  box-sizing: border-box;
  border: 2px solid currentColor;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.previousGallery h3 {
  font-weight: 500;
}

.apiFormContainer {
  width: 55%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}

.form-container {
  box-sizing: border-box;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: blue; */
  /* border: 2px solid white; */
}

.form-button-container {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 2px solid white; */
}

.title-container h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.title-container h3 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.content-container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid white; */
}

.attribute-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* font-weight: 500; */
}

.attribute-container button {
  font-weight: 500;
}

.image-container {
  height: 250px;
  width: 450px;
  border-radius: 8px;
  /* border: 2px solid currentColor; */
  justify-content: center;
  align-items: center;
}

.image-container img {
  height: 100%;
  object-fit: contain;
}

.button {
  font-weight: 500;
}

.ban-container {
  width: 25%;
  height: 80%;
  box-sizing: border-box;
  border: 2px solid currentColor;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.ban-container h3 {
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .whole-page {
    flex-direction: column;
    font-family: "Nippo", sans-serif;
  }

  .previousGallery {
    width: 100%;
    height: 15%;
    padding-top: 0.5em;
  }

  .previousGallery h3 {
    margin: 0;
    font-size: 18px;
  }
  .apiFormContainer {
    width: 100%;
    height: 60%;
  }

  .form-container {
    width: 100%;
    height: 90%;
  }

  .form-button-container {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-container {
    height: 25%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid white; */
    box-sizing: border-box;
  }

  .title-container h1 {
    padding: 0;
    margin: 0;
    font-size: 36px;
  }
  .title-container h3 {
    font-size: 16px;
  }

  .content-container {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid white; */
    box-sizing: border-box;
  }

  .image-container {
    height: 200px;
    width: 300px;
    border-radius: 8px;
    border: 2px solid currentColor;
  }

  .ban-container {
    width: 100%;
    height: 15%;
    padding-top: 0.5em;
  }

  .ban-container h3 {
    margin: 0;
    font-size: 18px;
  }
}

@media only screen and (max-width: 912px) {
  .image-container {
    height: 200px;
    width: 350px;
  }

  .apiFormContainer {
    height: 50%;
  }

  .ban-container {
    height: 50%;
  }
  .previousGallery {
    height: 50%;
  }
}
